<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/posts">
      Pic Share
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/posts"
          >Inicio</a>
        </li>
        {{! <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sitios
          </a>
          <ul class="dropdown-menu">
            <li><a
                class="dropdown-item"
                href="sitios.html#ultimos-proyectos"
              >Últimos proyectos</a></li>
            <li><a class="dropdown-item" href="sitios.html#single-page">Sitio
                <i>Single Page</i></a>
            </li>
            <li><a class="dropdown-item" href="sitios.html#multi-page">Sitio
                <i>Multi Page</i></a></li>
          </ul>
        </li> }}

        <li class="nav-item">
          <a class="nav-link" href="/posts/my-posts">Mis publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-profile">Mi cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth/logout">Cerrar sesión</a>
        </li>

      </ul>
    </div>
  </div>
</nav>